
//@theme "/usr/share/rofi/themes/fullscreen-preview.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"

//@theme "/usr/share/rofi/themes/paper-float.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/material.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/solarized_alternate.rasi"

// @theme "/usr/share/rofi/themes/material.rasi"
